In [9]:
import numpy as np
import pandas as pd
import os
from src.text_csv_utils import write_csv_file

In [10]:
ratings = pd.read_csv('data/datasets/rating/ml_details.csv', sep=',', encoding='latin-1')
ratings.head()

,movie index,movie id,user id,rating,content,date,user index
0,0,tt8510350,ur5876717,4,"Not the running time in any sense, but this se...",31 October 2019,1412
1,0,tt8510350,ur22654354,2,I wasn't really sure what I was getting myself...,9 September 2019,1401
2,0,tt8510350,ur12844960,4,I didn't know what to expect of this flick bec...,2 May 2020,1347
3,0,tt8510350,ur0806494,4,2019 Oak Cliff Film Festival\nGreetings again ...,11 June 2019,1368
4,0,tt8510350,ur77881167,3,Sam (Hayley Griffith) delivers pizza and compo...,31 October 2019,1405

In [11]:
no_ratings = len(ratings)
no_ratings

118390

In [12]:
no_users = len(ratings['user index'].unique())
no_users

1415

In [13]:
no_movies = len(ratings['movie index'].unique())
no_movies

8362

In [14]:
no_movies = len(ratings['movie index'].unique())
no_movies

8362

In [15]:
rating_density = no_ratings / (no_movies * no_users)
print("Rating Density: ", rating_density)

Rating Density:  0.01000572166024494

In [16]:
info = pd.DataFrame(columns=['Number of users', 'Number of movies', 'Number of ratings'])
info['Number of users'] = [no_users]
info['Number of movies'] = [no_movies]
info['Number of ratings'] = [no_ratings]
info.to_csv('./data/datasets/info.csv', sep=',', encoding='latin-1', index=False)