In [2]:
import numpy as np
import pandas as pd
import os
from src.text_csv_utils import write_csv_file

In [3]:
ratings = pd.read_csv('data/datasets/rating/remaining_detail.csv', sep=',', encoding='latin-1')
ratings.head()

,user index,movie index,rating,content,date,user id,movie id,interaction count
0,22678,0,8.0,Murder is being done at a medieval monastery a...,24 February 2007,ur2483625,tt0091605,1311
1,22678,12,8.0,After a hiatus of over a decade Jack Lemmon an...,21 October 2012,ur2483625,tt0107050,1311
2,22678,20,7.0,Let me say from the outset I'm not a particula...,7 February 2007,ur2483625,tt0100260,1311
3,22678,26,3.0,Zac Efron's relentless drive to get away from ...,3 July 2014,ur2483625,tt2004420,1311
4,22678,29,7.0,"Towards the end of Lawman, Burt Lancaster says...",19 December 2005,ur2483625,tt0067333,1311

In [4]:
no_ratings = len(ratings)
no_ratings

127944

In [5]:
no_users = len(ratings['user index'].unique())
no_users

1415

In [6]:
no_movies = len(ratings['movie index'].unique())
no_movies

9385

In [7]:
rating_density = no_ratings / (no_movies * no_users)
print("Rating Density: ", rating_density)

Rating Density:  0.009634500584535506

In [8]:
remaining_ids = ratings['movie id'].unique()
remaining_ids

array(['tt0091605', 'tt0107050', 'tt0100260', ..., 'tt14033496',
       'tt8045690', 'tt0095473'], dtype=object)

In [9]:
remaining_movie_id_path = os.path.join('data/datasets/movie/', 'remaining_ids.txt')
write_csv_file([[remaining_id] for remaining_id in remaining_ids], remaining_movie_id_path, 'w')

In [10]:
all_movie_ids = open('./data/datasets/movie/ids.txt', 'r')
all_movie_ids = all_movie_ids.readlines()
all_movie_ids = [movie_id.strip() for movie_id in all_movie_ids]
all_movie_ids = set(all_movie_ids)
remaining_ids = set(remaining_ids)

In [11]:
eliminated_movie_ids = all_movie_ids.difference(remaining_ids)
eliminated_movie_ids = list(eliminated_movie_ids)
eliminated_movie_ids

['tt13453006',
 'tt14317038',
 'tt0457146',
 'tt15353550',
 'tt4842652',
 'tt5108870',
 'tt10245072',
 'tt4575512',
 'tt15552018',
 'tt13623128',
 'tt1638319',
 'tt12042730',
 'tt13444912',
 'tt9766332',
 'tt0899258',
 'tt0845088',
 'tt15026576',
 'tt6235008',
 'tt11324406',
 'tt15009428',
 'tt5181830',
 'tt5113044',
 'tt10648342',
 'tt11981568',
 'tt10954984',
 'tt1198194',
 'tt1517268',
 'tt2094116',
 'tt11680642',
 'tt8589698',
 'tt13387422',
 'tt13488080',
 'tt14586176',
 'tt8128618',
 'tt5943710',
 'tt9686790',
 'tt13622970',
 'tt8097030',
 'tt8207660',
 'tt1596342',
 'tt7517016',
 'tt7321246',
 'tt10710138',
 'tt11093718',
 'tt13470094',
 'tt1630029',
 'tt10147580',
 'tt6237966',
 'tt11097384',
 'tt4428398',
 'tt7708842',
 'tt3454424',
 'tt7631058',
 'tt11698662',
 'tt12760338',
 'tt3899930',
 'tt1877830',
 'tt9619824',
 'tt12823454',
 'tt15289090',
 'tt11471892',
 'tt9844322',
 'tt1385861',
 'tt11953248',
 'tt11188682',
 'tt11871764',
 'tt12693278',
 'tt13521006',
 'tt15523186',
 'tt8415836',
 'tt9174578',
 'tt11377298',
 'tt9765564',
 'tt10698174',
 'tt12847168',
 'tt15275106',
 'tt6703486',
 'tt14742424',
 'tt9784708',
 'tt9018736',
 'tt0127569',
 'tt12446086',
 'tt6151162',
 'tt7268738',
 'tt15185022',
 'tt14012734',
 'tt10095582',
 'tt11204154',
 'tt9603212',
 'tt14107334',
 'tt7068580',
 'tt13443470',
 'tt5298398',
 'tt15381144',
 'tt8633464',
 'tt4163486',
 'tt11737520',
 'tt6718170',
 'tt5635026',
 'tt3900614',
 'tt10002230',
 'tt15209992',
 'tt0068069',
 'tt10625492',
 'tt15781474',
 'tt10298810',
 'tt10838180',
 'tt0115227',
 'tt14473896',
 'tt8429660',
 'tt13834480',
 'tt1181541',
 'tt11198330',
 'tt5776468',
 'tt5537002',
 'tt8740976',
 'tt13622958',
 'tt13260836',
 'tt14577300',
 'tt5971474',
 'tt14115912',
 'tt9783600',
 'tt15565714',
 'tt7215232',
 'tt1462764',
 'tt6208148',
 'tt9220966',
 'tt9863788',
 'tt1633359',
 'tt5500218',
 'tt9145132',
 'tt10872600',
 'tt1833403',
 'tt15470770',
 'tt11570202',
 'tt1831164',
 'tt11260886',
 'tt10168670',
 'tt10574236',
 'tt10766468',
 'tt13623632',
 'tt0414766',
 'tt6718412',
 'tt13673396',
 'tt4896340',
 'tt12785720',
 'tt11466222',
 'tt16027074',
 'tt11173328',
 'tt6728390',
 'tt11311302',
 'tt7215646',
 'tt9204110',
 'tt6848928',
 'tt1594381',
 'tt9660182',
 'tt15261812',
 'tt11755740',
 'tt9590742',
 'tt3581920',
 'tt14034966',
 'tt15758760',
 'tt12874990',
 'tt1751634',
 'tt13157618',
 'tt7978758',
 'tt14121726',
 'tt3513500',
 'tt14315756',
 'tt10857164',
 'tt9362722',
 'tt14831458',
 'tt7146326',
 'tt0398872',
 'tt0889816',
 'tt1801045',
 'tt5726658',
 'tt13400300',
 'tt13411814',
 'tt13961348',
 'tt14556184',
 'tt1193126',
 'tt13891338',
 'tt8295516',
 'tt12497014',
 'tt13433802',
 'tt14614892',
 'tt6267600',
 'tt9669176',
 'tt9114286',
 'tt15909296',
 'tt1037226',
 'tt14170154',
 'tt5656978',
 'tt1224144',
 'tt7380366',
 'tt11399224',
 'tt8790086',
 'tt6166392',
 'tt8253606',
 'tt6705162',
 'tt14690094',
 'tt7446804',
 'tt7466442',
 'tt8667828',
 'tt0081614',
 'tt0327375',
 'tt14251550',
 'tt2002719',
 'tt13701962',
 'tt3528906',
 'tt12440586',
 'tt11343708',
 'tt7927936',
 'tt10306320',
 'tt10403420',
 'tt0395284',
 'tt2825240',
 'tt15552142',
 'tt2341806',
 'tt8575060',
 'tt14759406',
 'tt13676300',
 'tt11548668',
 'tt6264782',
 'tt10128846',
 'tt12412888',
 'tt4773278',
 'tt15181018',
 'tt13623126',
 'tt8205060',
 'tt13774454',
 'tt12327578',
 'tt7015964',
 'tt1679482',
 'tt5194726',
 'tt0159208',
 'tt13445076',
 'tt12921552',
 'tt10308502',
 'tt0429087',
 'tt11641654',
 'tt9253284',
 'tt14935960',
 'tt15221950',
 'tt13292830',
 'tt2362866',
 'tt8927478',
 'tt14844718',
 'tt14598754',
 'tt6148744',
 'tt8466564',
 'tt4995540',
 'tt9714030',
 'tt6099636',
 'tt12976292',
 'tt5617712',
 'tt2935622',
 'tt4756228',
 'tt14849728',
 'tt7740496',
 'tt14668630',
 'tt11034276',
 'tt0132666',
 'tt9383986',
 'tt7709720',
 'tt12800524',
 'tt14061008',
 'tt7026666',
 'tt10473036',
 'tt15340790',
 'tt1800393',
 'tt10954600',
 'tt15139516',
 'tt10328494',
 'tt12889404',
 'tt14037884',
 'tt13148384',
 'tt0401747',
 'tt10676052',
 'tt11121754',
 'tt9170318',
 'tt11909878',
 'tt12908110',
 'tt6443346',
 'tt6540706',
 'tt8456190',
 'tt15813014',
 'tt14994064',
 'tt14888874',
 'tt2180339',
 'tt12637024',
 'tt0233127',
 'tt10433602',
 'tt10611608',
 'tt13624052',
 'tt15248702',
 'tt11382150',
 'tt13623136',
 'tt14331144',
 'tt5981944',
 'tt0271308',
 'tt15616218',
 'tt13660064',
 'tt14476244',
 'tt9663764',
 'tt11131464',
 'tt15591076',
 'tt11247158',
 'tt2324606',
 'tt13320622',
 'tt1136617',
 'tt14475988',
 'tt9907782',
 'tt15358446',
 'tt14230388',
 'tt15686202',
 'tt5205040',
 'tt0092484',
 'tt0088512',
 'tt10952900',
 'tt11092142',
 'tt14060986',
 'tt9411972',
 'tt8115900',
 'tt3581652',
 'tt10466872',
 'tt9735462',
 'tt12326830',
 'tt10761694',
 'tt14715170',
 'tt12921446',
 'tt4728328',
 'tt13056398',
 'tt9646562',
 'tt16027014',
 'tt6296094',
 'tt13131798',
 'tt4589218',
 'tt11365186',
 'tt6587046',
 'tt8005626',
 'tt14044212',
 'tt15146242',
 'tt8041270',
 'tt0106126',
 'tt10650946',
 'tt0115277',
 'tt13629530',
 'tt7748244',
 'tt12593682',
 'tt4291050',
 'tt6450560',
 'tt13623148',
 'tt7886614',
 'tt13207508',
 'tt10223460',
 'tt10608454',
 'tt14948432',
 'tt8783930',
 'tt13483212',
 'tt10957044',
 'tt9848626',
 'tt3952774',
 'tt6467266',
 'tt14932820',
 'tt14586350',
 'tt3039472',
 'tt1206546',
 'tt14549466',
 'tt11091696',
 'tt5765844',
 'tt10276482',
 'tt3915174',
 'tt1697068',
 'tt7049818',
 'tt5823710',
 'tt6475250',
 'tt1680044',
 'tt13635348',
 'tt5337160',
 'tt4978420',
 'tt8337264',
 'tt12262202',
 'tt14810626',
 'tt14112996',
 'tt13022214',
 'tt6856242',
 'tt10676048',
 'tt3083016',
 'tt1695843',
 'tt13723164',
 'tt12362248',
 'tt15796900',
 'tt14036516',
 'tt1608383',
 'tt1587420',
 'tt16161362',
 'tt13616990',
 'tt0064961',
 'tt15613268',
 'tt15074312',
 'tt13634480',
 'tt13722802',
 'tt11564570',
 'tt11729298',
 'tt8478162',
 'tt15808044',
 'tt1743493',
 'tt14500082',
 'tt11851548',
 'tt15552352',
 'tt11725680',
 'tt13314558',
 'tt13891870',
 'tt10304142',
 'tt14482374',
 'tt9896916',
 'tt11286314',
 'tt4593060',
 'tt11301946',
 'tt12878838',
 'tt15473788',
 'tt15000314',
 'tt14923008',
 'tt3043336',
 'tt3777860',
 'tt6742558',
 'tt10934196',
 'tt13892710',
 'tt14123284',
 'tt13632182',
 'tt1464335',
 'tt13622956',
 'tt9218128',
 'tt12744636',
 'tt15709068',
 'tt8718158',
 'tt2461172',
 'tt12831098',
 'tt13966962',
 'tt12261776',
 'tt10364034',
 'tt1488589',
 'tt1649418',
 'tt4123432',
 'tt14534992',
 'tt15571732',
 'tt13311344',
 'tt13622774',
 'tt10234724',
 'tt12447796',
 'tt8337158',
 'tt15863594',
 'tt9419884',
 'tt2906216',
 'tt6486762',
 'tt14109724',
 'tt14813212',
 'tt4947580',
 'tt11233960',
 'tt11761194',
 'tt14770620',
 'tt13334002',
 'tt10640346',
 'tt6160448',
 'tt6892206',
 'tt10582690',
 'tt14138650',
 'tt13097336',
 'tt4834232',
 'tt10516196',
 'tt5850650',
 'tt9319668',
 'tt15255288',
 'tt9288822',
 'tt11245972',
 'tt4677890',
 'tt13651628',
 'tt7144666',
 'tt0439572',
 'tt4406178',
 'tt14609428',
 'tt8912936',
 'tt1798632',
 'tt5768632',
 'tt11866324',
 'tt15430628',
 'tt7214954',
 'tt10671440',
 'tt13659418',
 'tt13819960',
 'tt15374070',
 'tt0127385',
 'tt9859436',
 'tt15427878',
 'tt12779780',
 'tt9009826',
 'tt8637498',
 'tt7569662',
 'tt8984572',
 'tt5834426',
 'tt4843640',
 'tt1745960',
 'tt2224162',
 'tt14321832',
 'tt8866456',
 'tt12451788',
 'tt4818232',
 'tt10731256',
 'tt15233984',
 'tt6791350',
 'tt1655389',
 'tt2443852',
 'tt12239410',
 'tt14979052',
 'tt13345606',
 'tt4016312',
 'tt0943690',
 'tt11252248',
 'tt3291150',
 'tt9100054',
 'tt15398776',
 'tt13070038',
 'tt0808372',
 'tt8205028',
 'tt12892300',
 'tt5248776',
 'tt4998632',
 'tt13146488',
 'tt13668894',
 'tt13905778',
 'tt13991232',
 'tt1105469',
 'tt5075490',
 'tt12865416',
 'tt15554066',
 'tt8433216',
 'tt12235026',
 'tt10540562',
 'tt0108709',
 'tt7270808',
 'tt11138512',
 'tt11040844',
 'tt3447590',
 'tt3779396',
 'tt11703710',
 'tt10366206',
 'tt8192134',
 'tt4956208',
 'tt0203248',
 'tt14411808',
 'tt14734228',
 'tt11947256',
 'tt13465140',
 'tt12587622',
 'tt7539608',
 'tt15764858',
 'tt14635982',
 'tt15847098',
 'tt13422672',
 'tt7032958',
 'tt12708658',
 'tt11247108',
 'tt9860690',
 'tt1790810',
 'tt2328678',
 'tt13622776',
 'tt12409194',
 'tt15239678',
 'tt13287846',
 'tt2391023',
 'tt2934286',
 'tt12280510',
 'tt13622964',
 'tt14264160',
 'tt13758250',
 'tt5433140',
 'tt10278918',
 'tt14354984',
 'tt13275654',
 'tt9813792',
 'tt13131186',
 'tt14361314',
 'tt6263850',
 'tt16026746',
 'tt11655566',
 'tt13575806',
 'tt14827638',
 'tt14547524',
 'tt8354218',
 'tt11274492',
 'tt1998372',
 'tt11291274',
 'tt6121444',
 'tt13821126',
 'tt14114802',
 'tt13659918',
 'tt7657566',
 'tt7890826',
 'tt10151854',
 'tt2049403',
 'tt5090568',
 'tt11777738',
 'tt0125622',
 'tt7010622',
 'tt14230458',
 'tt4919268',
 'tt12286260',
 'tt6088992',
 'tt14296268',
 'tt13029044',
 'tt5459566',
 'tt15599734',
 'tt14814006',
 'tt14785638',
 'tt4057998',
 'tt7985704',
 'tt7063376',
 'tt10665342',
 'tt5779228',
 'tt10857160',
 'tt10984686',
 'tt4787052',
 'tt14687200',
 'tt0887261',
 'tt6572002',
 'tt12439466',
 'tt9731598',
 'tt15141288',
 'tt1595870',
 'tt12037194',
 'tt10461542',
 'tt10295890',
 'tt7655622',
 'tt9437014',
 'tt1615925',
 'tt8191502',
 'tt11128368',
 'tt6523862',
 'tt1262426',
 'tt8356942',
 'tt13160360',
 'tt5846856',
 'tt12680684',
 'tt5859072',
 'tt11671006',
 'tt11918288',
 'tt2463208',
 'tt0435031',
 'tt13424422',
 'tt6953974',
 'tt14641788',
 'tt9764362']

In [12]:
no_eliminated_movie_ids = len(eliminated_movie_ids)
no_eliminated_movie_ids

654

In [13]:
eliminated_movie_id_path = os.path.join('data/datasets/movie/', 'eliminated_ids.txt')
write_csv_file([[eliminated_movie_id] for eliminated_movie_id in eliminated_movie_ids], eliminated_movie_id_path, 'w')

In [15]:
info = pd.DataFrame(columns=['Number of users', 'Number of movies', 'Number of ratings'])
info['Number of users'] = [no_users]
info['Number of movies'] = [no_movies]
info['Number of ratings'] = [no_ratings]
info.to_csv('./data/datasets/info.csv', sep=',', encoding='latin-1', index=False)