In [1]:
import numpy as np
import pandas as pd
import os
from src.text_csv_utils import write_csv_file

In [2]:
ratings = pd.read_csv('data/datasets/rating/remaining_detail.csv', sep=',', encoding='latin-1')
ratings.head()

,movie index,movie id,user id,rating,content,date,user index
0,0,tt8510350,ur5876717,4,"Not the running time in any sense, but this se...",31 October 2019,1412
1,0,tt8510350,ur22654354,2,I wasn't really sure what I was getting myself...,9 September 2019,1401
2,0,tt8510350,ur12844960,4,I didn't know what to expect of this flick bec...,2 May 2020,1347
3,0,tt8510350,ur0806494,4,2019 Oak Cliff Film Festival\nGreetings again ...,11 June 2019,1368
4,0,tt8510350,ur77881167,3,Sam (Hayley Griffith) delivers pizza and compo...,31 October 2019,1405

In [3]:
no_ratings = len(ratings)
no_ratings

127944

In [4]:
no_users = len(ratings['user index'].unique())
no_users

1415

In [5]:
no_movies = ratings['movie index'].max() + 1
no_movies

9385

In [6]:
no_movies = len(ratings['movie index'].unique())
no_movies

9385

In [7]:
rating_density = no_ratings / (no_movies * no_users)
print("Rating Density: ", rating_density)

Rating Density:  0.009634500584535506

In [8]:
remaining_ids = ratings['movie id'].unique()
remaining_ids

array(['tt8510350', 'tt3289956', 'tt0097179', ..., 'tt15316422',
       'tt11834890', 'tt8045690'], dtype=object)

In [9]:
remaining_movie_id_path = os.path.join('data/datasets/movie/', 'remaining_ids.txt')
write_csv_file([[remaining_id] for remaining_id in remaining_ids], remaining_movie_id_path, 'w')

In [10]:
all_movie_ids = open('./data/datasets/movie/ids.txt', 'r')
all_movie_ids = all_movie_ids.readlines()
all_movie_ids = [movie_id.strip() for movie_id in all_movie_ids]
all_movie_ids = set(all_movie_ids)
remaining_ids = set(remaining_ids)

In [11]:
eliminated_movie_ids = all_movie_ids.difference(remaining_ids)
eliminated_movie_ids = list(eliminated_movie_ids)
eliminated_movie_ids

['tt8205060',
 'tt4842652',
 'tt3952774',
 'tt5459566',
 'tt1224144',
 'tt14037884',
 'tt12439466',
 'tt4016312',
 'tt0457146',
 'tt13660064',
 'tt0203248',
 'tt14690094',
 'tt10095582',
 'tt15523186',
 'tt15764858',
 'tt12865416',
 'tt15026576',
 'tt11725680',
 'tt5075490',
 'tt8191502',
 'tt11204154',
 'tt12693278',
 'tt10710138',
 'tt7146326',
 'tt8207660',
 'tt0414766',
 'tt12680684',
 'tt0159208',
 'tt11641654',
 'tt8456190',
 'tt13311344',
 'tt0127569',
 'tt11698662',
 'tt13453006',
 'tt13387422',
 'tt10934196',
 'tt15141288',
 'tt9590742',
 'tt13148384',
 'tt7446804',
 'tt15181018',
 'tt1638319',
 'tt0327375',
 'tt15709068',
 'tt15796900',
 'tt15261812',
 'tt6892206',
 'tt9907782',
 'tt11034276',
 'tt0899258',
 'tt9714030',
 'tt9009826',
 'tt14473896',
 'tt3777860',
 'tt3528906',
 'tt2341806',
 'tt9896916',
 'tt7708842',
 'tt11548668',
 'tt11947256',
 'tt0092484',
 'tt13260836',
 'tt15808044',
 'tt12362248',
 'tt12831098',
 'tt13411814',
 'tt14354984',
 'tt11260886',
 'tt7032958',
 'tt5337160',
 'tt14844718',
 'tt10698174',
 'tt14012734',
 'tt7010622',
 'tt12235026',
 'tt11093718',
 'tt15185022',
 'tt11247108',
 'tt14810626',
 'tt12779780',
 'tt9170318',
 'tt1105469',
 'tt6467266',
 'tt15554066',
 'tt8205028',
 'tt10306320',
 'tt4834232',
 'tt1680044',
 'tt13905778',
 'tt12708658',
 'tt15381144',
 'tt1833403',
 'tt6296094',
 'tt6848928',
 'tt10766468',
 'tt10952900',
 'tt15686202',
 'tt15781474',
 'tt14785638',
 'tt9220966',
 'tt6703486',
 'tt14687200',
 'tt7049818',
 'tt10147580',
 'tt14112996',
 'tt0106126',
 'tt7886614',
 'tt4787052',
 'tt13400300',
 'tt11382150',
 'tt14251550',
 'tt10328494',
 'tt5768632',
 'tt12326830',
 'tt8253606',
 'tt7068580',
 'tt11131464',
 'tt0395284',
 'tt1679482',
 'tt0271308',
 'tt14034966',
 'tt4773278',
 'tt3899930',
 'tt4956208',
 'tt4843640',
 'tt0064961',
 'tt5981944',
 'tt11173328',
 'tt14475988',
 'tt1831164',
 'tt16161362',
 'tt8295516',
 'tt13723164',
 'tt15813014',
 'tt6475250',
 'tt3900614',
 'tt12497014',
 'tt0233127',
 'tt8128618',
 'tt11918288',
 'tt14598754',
 'tt14935960',
 'tt1594381',
 'tt6264782',
 'tt4057998',
 'tt5846856',
 'tt14814006',
 'tt7517016',
 'tt0401747',
 'tt14296268',
 'tt1181541',
 'tt15758760',
 'tt15340790',
 'tt10984686',
 'tt0845088',
 'tt8927478',
 'tt15599734',
 'tt2825240',
 'tt7270808',
 'tt9735462',
 'tt13635348',
 'tt0108709',
 'tt15427878',
 'tt8005626',
 'tt13758250',
 'tt8192134',
 'tt15221950',
 'tt7026666',
 'tt1615925',
 'tt6728390',
 'tt7015964',
 'tt3039472',
 'tt15074312',
 'tt0943690',
 'tt13131186',
 'tt9863788',
 'tt13207508',
 'tt13673396',
 'tt13470094',
 'tt14759406',
 'tt0115277',
 'tt14411808',
 'tt6953974',
 'tt11953248',
 'tt15139516',
 'tt8478162',
 'tt6572002',
 'tt14994064',
 'tt10650946',
 'tt9848626',
 'tt4291050',
 'tt0127385',
 'tt6237966',
 'tt15847098',
 'tt7927936',
 'tt13445076',
 'tt14888874',
 'tt1198194',
 'tt13022214',
 'tt9844322',
 'tt14849728',
 'tt13275654',
 'tt8433216',
 'tt1743493',
 'tt13131798',
 'tt14534992',
 'tt15863594',
 'tt8575060',
 'tt9100054',
 'tt6148744',
 'tt12409194',
 'tt13488080',
 'tt11121754',
 'tt10540562',
 'tt13891870',
 'tt6121444',
 'tt14609428',
 'tt13651628',
 'tt0081614',
 'tt14321832',
 'tt0398872',
 'tt15000314',
 'tt7063376',
 'tt7539608',
 'tt15289090',
 'tt10308502',
 'tt4163486',
 'tt12744636',
 'tt12451788',
 'tt14115912',
 'tt15146242',
 'tt1608383',
 'tt7748244',
 'tt0125622',
 'tt4947580',
 'tt7144666',
 'tt14979052',
 'tt13676300',
 'tt6235008',
 'tt15470770',
 'tt11777738']

In [12]:
no_eliminated_movie_ids = len(eliminated_movie_ids)
no_eliminated_movie_ids

241

In [13]:
eliminated_movie_id_path = os.path.join('data/datasets/movie/', 'eliminated_ids.txt')
write_csv_file([[eliminated_movie_id] for eliminated_movie_id in eliminated_movie_ids], eliminated_movie_id_path, 'w')

In [14]:
info = pd.DataFrame(columns=['Number of users', 'Number of movies', 'Number of ratings'])
info['Number of users'] = [no_users]
info['Number of movies'] = [no_movies]
info['Number of ratings'] = [no_ratings]
info.to_csv('./data/datasets/info.csv', sep=',', encoding='latin-1', index=False)