In [189]:
import pandas as pd
import numpy as np

In [190]:
rating = pd.read_csv('./data/datasets/rating/remaining_detail.csv', sep=',', encoding='latin-1')
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127944 entries, 0 to 127943
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie index  127944 non-null  int64
 1   movie id     127944 non-null  object
 2   user id      127944 non-null  object
 3   rating       127944 non-null  int64
 4   content      127944 non-null  object
 5   date         127944 non-null  object
 6   user index   127944 non-null  int64
dtypes: int64(3), object(4)
memory usage: 6.8+ MB

In [191]:
movie_ids_in_rating = rating['movie id'].value_counts().index.tolist()
len(movie_ids_in_rating)

9385

In [192]:
details = pd.read_csv('./data/datasets/movie/details_1.csv', sep=',', encoding='latin-1')

In [193]:
details.head()

,movie id,title,series,release year,certification,duration,average rating,rating total,genre list,content,countries of origin,official sites,languages,production companies,budget
0,tt0102813,Rover Dangerfield,NaN,1991,G,1h 14m,6.0,3K,Animation|Comedy|Family,A Vegas show dog gets ditched in the sticks an...,United States,NaN,English,NaN,NaN
1,tt1086761,Keeping Up with the Kardashians,TV Series,2006â2021,TV-14,44m,2.8,29K,Drama|Family|Reality-TV,A peek inside the exploits and privileged priv...,United States,Official sites|Official Facebook|Official Inst...,English|Spanish,NaN,NaN
2,tt0075686,Annie Hall,NaN,1977,PG,1h 33m,8.0,259K,Comedy|Romance,"Alvy Singer, a divorced Jewish comedian, refle...",United States,NaN,English|German,NaN,"$38,287,178"
3,tt1402488,Happy Feet Two,NaN,2011,PG,1h 40m,5.9,44K,Animation|Adventure|Comedy,"Mumble's son, Erik, is struggling to realize h...",Australia|United States|Antarctica|New Zealand,Official site,English,NaN,"$159,197,038"
4,tt15523186,Warning,NaN,2021,NaN,NaN,9.6,310,Action,"Set in India, Action Movie Warning is about th...",India,NaN,Punjabi,NaN,NaN

In [194]:
details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8699 entries, 0 to 8698
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie id              8699 non-null   object
 1   title                 8699 non-null   object
 2   series                2289 non-null   object
 3   release year          8267 non-null   object
 4   certification         8358 non-null   object
 5   duration              8272 non-null   object
 6   average rating        8547 non-null   float64
 7   rating total          8547 non-null   object
 8   genre list            8699 non-null   object
 9   content               8699 non-null   object
 10  countries of origin   8628 non-null   object
 11  official sites        5638 non-null   object
 12  languages             8582 non-null   object
 13  production companies  0 non-null      float64
 14  budget                5416 non-null   object
dtypes: float64(2), object(13)
memory usage: 1019.5+ KB

In [195]:
movie_ids_in_details = details['movie id'].value_counts().index.tolist()
len(movie_ids_in_details)

8699

In [196]:
movie_ids_in_rating[:5]

['tt8510350', 'tt1190634', 'tt0088814', 'tt0077394', 'tt9894470']

In [197]:
len(movie_ids_in_rating)

9385

In [198]:
movie_id_finded_in_movie_detail = 0
for movie_id in movie_ids_in_rating:
    if len(details[details['movie id'] == movie_id]) > 0:
        movie_id_finded_in_movie_detail += 1
movie_id_finded_in_movie_detail

8362

In [199]:
if movie_id_finded_in_movie_detail != movie_ids_in_rating:
    print("There are movie ids in rating data that haven't been found in movie detail data")

There are movie ids in rating data that haven't been found in movie detail data

In [200]:
movie_id_file = open('./data/datasets/movie/remaining_ids.txt', 'r')
movie_ids_in_ids_file= movie_id_file.readlines()
movie_ids_in_ids_file = [movie_id.strip() for movie_id in movie_ids_in_ids_file]

In [201]:
len(set(movie_ids_in_ids_file))

9385

In [202]:
movie_ids_in_ids_file[:5]

['tt0091605', 'tt0107050', 'tt0100260', 'tt2004420', 'tt0067333']

In [203]:
len(movie_ids_in_ids_file)

9385

In [204]:
movie_id_finded_in_ids_file = 0
for movie_id in movie_ids_in_ids_file:
    if len(details[details['movie id'] == movie_id]) > 0:
        movie_id_finded_in_ids_file += 1
movie_id_finded_in_ids_file

8362

In [205]:
if movie_id_finded_in_ids_file != movie_ids_in_rating:
    print("There are movie ids in rating data that haven't been found in ids data")

There are movie ids in rating data that haven't been found in ids data

In [206]:
movie_ids_in_ids_file_set = set(movie_ids_in_ids_file)
movie_ids_in_rating_set = set(movie_ids_in_rating)

In [207]:
print(movie_ids_in_ids_file_set.difference(movie_ids_in_rating_set))
print(movie_ids_in_rating_set.difference(movie_ids_in_ids_file_set))

set()
set()

In [208]:
if len(movie_ids_in_ids_file_set.difference(movie_ids_in_rating_set)) == 0 and len(movie_ids_in_rating_set.difference(movie_ids_in_ids_file_set)) == 0:
    print('All movie ids in rating were founded in ids file')

All movie ids in rating were founded in ids file

In [209]:
print('I have to crawl movie detail')

I have to crawl movie detail

In [210]:
import os
from src.text_csv_utils import write_csv_file
from src.url_functions import get_detail_movie_by_movie_id
def crawl_movie_details():
    movie_id_file = open('./data/datasets/movie/remaining_ids.txt', 'r')
    movie_ids_in_ids_file= movie_id_file.readlines()
    movie_ids_in_ids_file = [movie_id.strip() for movie_id in movie_ids_in_ids_file]
    movie_detail_path = os.path.join('data/datasets/movie', 'details.csv')
    
    detail_title = ["movie id", "title", "series", "release year", "certification", "duration", "average rating", "rating total", "genre list", "content", "countries of origin", "official sites", "languages", "production companies", "budget"]
    write_csv_file([detail_title], movie_detail_path, 'w')

    for movie_id in movie_ids_in_ids_file:
        write_csv_file([get_detail_movie_by_movie_id(movie_id)], movie_detail_path, 'a')

In [211]:
#crawl_movie_details()

In [212]:
rating.head()

,movie index,movie id,user id,rating,content,date,user index
0,0,tt8510350,ur5876717,4,"Not the running time in any sense, but this se...",31 October 2019,1412
1,0,tt8510350,ur22654354,2,I wasn't really sure what I was getting myself...,9 September 2019,1401
2,0,tt8510350,ur12844960,4,I didn't know what to expect of this flick bec...,2 May 2020,1347
3,0,tt8510350,ur0806494,4,2019 Oak Cliff Film Festival\nGreetings again ...,11 June 2019,1368
4,0,tt8510350,ur77881167,3,Sam (Hayley Griffith) delivers pizza and compo...,31 October 2019,1405

In [213]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127944 entries, 0 to 127943
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie index  127944 non-null  int64
 1   movie id     127944 non-null  object
 2   user id      127944 non-null  object
 3   rating       127944 non-null  int64
 4   content      127944 non-null  object
 5   date         127944 non-null  object
 6   user index   127944 non-null  int64
dtypes: int64(3), object(4)
memory usage: 6.8+ MB

In [214]:
len(movie_ids_in_ids_file)

9385

In [215]:
len(movie_ids_in_details)

8699

In [216]:
movie_ids_df = pd.DataFrame(columns=['movie id'])
movie_ids_df['movie id'] = movie_ids_in_details

In [217]:
merge_rating_and_movie_ids_df = pd.merge(rating, movie_ids_df, how='inner', on='movie id')

In [218]:
merge_rating_and_movie_ids_df.head()

,movie index,movie id,user id,rating,content,date,user index
0,0,tt8510350,ur5876717,4,"Not the running time in any sense, but this se...",31 October 2019,1412
1,0,tt8510350,ur22654354,2,I wasn't really sure what I was getting myself...,9 September 2019,1401
2,0,tt8510350,ur12844960,4,I didn't know what to expect of this flick bec...,2 May 2020,1347
3,0,tt8510350,ur0806494,4,2019 Oak Cliff Film Festival\nGreetings again ...,11 June 2019,1368
4,0,tt8510350,ur77881167,3,Sam (Hayley Griffith) delivers pizza and compo...,31 October 2019,1405

In [219]:
merge_rating_and_movie_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118390 entries, 0 to 118389
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie index  118390 non-null  int64
 1   movie id     118390 non-null  object
 2   user id      118390 non-null  object
 3   rating       118390 non-null  int64
 4   content      118390 non-null  object
 5   date         118390 non-null  object
 6   user index   118390 non-null  int64
dtypes: int64(3), object(4)
memory usage: 7.2+ MB

In [220]:
len(merge_rating_and_movie_ids_df['movie id'].value_counts().index.tolist())

8362

In [221]:
cleaned_movie_ids = merge_rating_and_movie_ids_df['movie id'].value_counts().index.tolist()

In [222]:
cleaned_movie_index = merge_rating_and_movie_ids_df['movie index'].value_counts().index.tolist()

In [223]:
cleaned_movie_index[:5]

[0, 174, 159, 161, 162]

In [224]:
cleaned_movie_ids_df = pd.DataFrame(columns=['movie id'])
cleaned_movie_ids_df['movie id'] = cleaned_movie_ids

In [225]:
cleaned_movie_ids_df.head()

    movie id
0  tt8510350
1  tt0083630
2  tt0119707
3  tt5607976
4  tt0088814

In [226]:
merge_details_cleaned_movied_ids = pd.merge(cleaned_movie_ids_df, details, how='inner', on='movie id')

In [227]:
merge_details_cleaned_movied_ids.head()

,movie id,title,series,release year,certification,duration,average rating,rating total,genre list,content,countries of origin,official sites,languages,production companies,budget
0,tt8510350,Satanic Panic,NaN,2019,Not Rated,1h 25m,5.6,5.3K,Comedy|Horror,A pizza delivery girl at the end of her financ...,United States,NaN,English,NaN,NaN
1,tt0083630,The Beastmaster,NaN,1982,PG,1h 58m,6.2,22K,Action|Adventure|Fantasy,A sword-and-sorcery fantasy about a young man'...,United States|West Germany,NaN,English,NaN,"$14,056,528"
2,tt0119707,Mortal Kombat: Annihilation,NaN,1997,PG-13,1h 35m,3.7,53K,Action|Adventure|Fantasy,A group of martial arts warriors have only six...,United States,New Line,English,NaN,"$51,376,861"
3,tt5607976,His Dark Materials,TV Series,2019â,TV-14,1h,7.9,59K,Adventure|Drama|Family,A young girl is destined to liberate her world...,United Kingdom|United States,Official sites|Official Bad Wolf Production We...,English,NaN,NaN
4,tt0088814,The Black Cauldron,NaN,1985,PG,1h 20m,6.4,34K,Animation|Action|Adventure,A young boy and a group of misfit friends emba...,United States|United Kingdom,Official site,English|Portuguese,NaN,"$21,288,692"

In [228]:
merge_details_cleaned_movied_ids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8362 entries, 0 to 8361
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie id              8362 non-null   object
 1   title                 8362 non-null   object
 2   series                2246 non-null   object
 3   release year          8044 non-null   object
 4   certification         8153 non-null   object
 5   duration              8133 non-null   object
 6   average rating        8361 non-null   float64
 7   rating total          8361 non-null   object
 8   genre list            8362 non-null   object
 9   content               8362 non-null   object
 10  countries of origin   8291 non-null   object
 11  official sites        5465 non-null   object
 12  languages             8252 non-null   object
 13  production companies  0 non-null      float64
 14  budget                5364 non-null   object
dtypes: float64(2), object(13)
memory usage: 1.0+ MB

In [229]:
genres = set()
group_genres = merge_details_cleaned_movied_ids ['genre list'].value_counts().index.tolist()
for group_genre in group_genres:
    group_genre_list = group_genre.split("|")
    for g in group_genre_list:
        genres.add(g)
genres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}

In [230]:
len(genres)

27

In [231]:
ml_details = merge_details_cleaned_movied_ids

In [232]:
for genre in genres:
    ml_details[genre] = np.zeros(len(ml_details))

In [233]:
for i in range(len(ml_details)):
    group_genre_list = ml_details.iloc[i]['genre list']
    group_genre_list = group_genre_list.split("|")
    for g in group_genre_list:
        ml_details.at[i, g] = int(1)

In [234]:
ml_details.head()

,movie id,title,series,release year,certification,duration,average rating,rating total,genre list,content,...,Western,Romance,Drama,Reality-TV,Crime,Comedy,Adventure,News,War,Action
0,tt8510350,Satanic Panic,NaN,2019,Not Rated,1h 25m,5.6,5.3K,Comedy|Horror,A pizza delivery girl at the end of her financ...,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,tt0083630,The Beastmaster,NaN,1982,PG,1h 58m,6.2,22K,Action|Adventure|Fantasy,A sword-and-sorcery fantasy about a young man'...,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,tt0119707,Mortal Kombat: Annihilation,NaN,1997,PG-13,1h 35m,3.7,53K,Action|Adventure|Fantasy,A group of martial arts warriors have only six...,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,tt5607976,His Dark Materials,TV Series,2019â,TV-14,1h,7.9,59K,Adventure|Drama|Family,A young girl is destined to liberate her world...,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,tt0088814,The Black Cauldron,NaN,1985,PG,1h 20m,6.4,34K,Animation|Action|Adventure,A young boy and a group of misfit friends emba...,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [235]:
ml_ratings = merge_rating_and_movie_ids_df

In [236]:
ml_merge = pd.merge(ml_details, ml_ratings[['movie id', 'movie index']], how='inner', on='movie id')

In [237]:
ml_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118390 entries, 0 to 118389
Data columns (total 43 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   movie id              118390 non-null  object
 1   title                 118390 non-null  object
 2   series                24513 non-null   object
 3   release year          116059 non-null  object
 4   certification         116729 non-null  object
 5   duration              116660 non-null  object
 6   average rating        118387 non-null  float64
 7   rating total          118387 non-null  object
 8   genre list            118390 non-null  object
 9   content               118390 non-null  object
 10  countries of origin   117772 non-null  object
 11  official sites        78230 non-null   object
 12  languages             117541 non-null  object
 13  production companies  0 non-null       float64
 14  budget                86190 non-null   object
 15  Biography             118390 non-null  float64
 16  Music                 118390 non-null  float64
 17  History               118390 non-null  float64
 18  Thriller              118390 non-null  float64
 19  Fantasy               118390 non-null  float64
 20  Sport                 118390 non-null  float64
 21  Animation             118390 non-null  float64
 22  Game-Show             118390 non-null  float64
 23  Horror                118390 non-null  float64
 24  Musical               118390 non-null  float64
 25  Family                118390 non-null  float64
 26  Mystery               118390 non-null  float64
 27  Talk-Show             118390 non-null  float64
 28  Documentary           118390 non-null  float64
 29  Sci-Fi                118390 non-null  float64
 30  Film-Noir             118390 non-null  float64
 31  Short                 118390 non-null  float64
 32  Western               118390 non-null  float64
 33  Romance               118390 non-null  float64
 34  Drama                 118390 non-null  float64
 35  Reality-TV            118390 non-null  float64
 36  Crime                 118390 non-null  float64
 37  Comedy                118390 non-null  float64
 38  Adventure             118390 non-null  float64
 39  News                  118390 non-null  float64
 40  War                   118390 non-null  float64
 41  Action                118390 non-null  float64
 42  movie index           118390 non-null  int64
dtypes: float64(29), int64(1), object(13)
memory usage: 39.7+ MB

In [238]:
ml_merge.drop_duplicates(keep='first', inplace=True)

In [239]:
ml_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8362 entries, 0 to 118389
Data columns (total 43 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie id              8362 non-null   object
 1   title                 8362 non-null   object
 2   series                2246 non-null   object
 3   release year          8044 non-null   object
 4   certification         8153 non-null   object
 5   duration              8133 non-null   object
 6   average rating        8361 non-null   float64
 7   rating total          8361 non-null   object
 8   genre list            8362 non-null   object
 9   content               8362 non-null   object
 10  countries of origin   8291 non-null   object
 11  official sites        5465 non-null   object
 12  languages             8252 non-null   object
 13  production companies  0 non-null      float64
 14  budget                5364 non-null   object
 15  Biography             8362 non-null   float64
 16  Music                 8362 non-null   float64
 17  History               8362 non-null   float64
 18  Thriller              8362 non-null   float64
 19  Fantasy               8362 non-null   float64
 20  Sport                 8362 non-null   float64
 21  Animation             8362 non-null   float64
 22  Game-Show             8362 non-null   float64
 23  Horror                8362 non-null   float64
 24  Musical               8362 non-null   float64
 25  Family                8362 non-null   float64
 26  Mystery               8362 non-null   float64
 27  Talk-Show             8362 non-null   float64
 28  Documentary           8362 non-null   float64
 29  Sci-Fi                8362 non-null   float64
 30  Film-Noir             8362 non-null   float64
 31  Short                 8362 non-null   float64
 32  Western               8362 non-null   float64
 33  Romance               8362 non-null   float64
 34  Drama                 8362 non-null   float64
 35  Reality-TV            8362 non-null   float64
 36  Crime                 8362 non-null   float64
 37  Comedy                8362 non-null   float64
 38  Adventure             8362 non-null   float64
 39  News                  8362 non-null   float64
 40  War                   8362 non-null   float64
 41  Action                8362 non-null   float64
 42  movie index           8362 non-null   int64
dtypes: float64(29), int64(1), object(13)
memory usage: 2.8+ MB

In [240]:
ml_merge.to_csv('./data/datasets/movie/ml_details.csv', sep=',', encoding='latin-1', index=False)

In [ ]:
ml_ratings.to_csv('./data/datasets/rating/ml_details.csv', sep=',', encoding='latin-1', index=False)