In [7]:
import pandas as pd
import numpy as np
import os
from src.text_csv_utils import write_csv_file
from src.url_functions import get_detail_movie_by_movie_id

In [2]:
ratings = pd.read_csv('./data/datasets/rating/details.csv', sep=',')
ratings.head()

      user id   movie id  rating             timestamp
0   ur0033913  tt1416765     8.0  Rated on 08 Jul 2019
1  ur15311310  tt0084987     8.0  Rated on 18 Nov 2021
2  ur15311310  tt0084987     7.0  Rated on 23 Nov 2021
3  ur15311310  tt0084987     7.5  Rated on 24 Nov 2021
4  ur15311310  tt0084987     8.0  Rated on 30 Nov 2021

In [3]:
distinct_movie_ids = ratings['movie id'].value_counts().index.tolist()

In [4]:
OUTPUT = './data/datasets/movie'
os.makedirs(OUTPUT, exist_ok=True)

In [5]:
movie_id_path = os.path.join(OUTPUT, 'ids.txt')

In [6]:
distinct_movie_ids = [[movie_id] for movie_id in distinct_movie_ids]
write_csv_file(distinct_movie_ids, movie_id_path, 'w')

In [8]:
movie_detail_path = os.path.join(OUTPUT, 'details.csv')

In [11]:
for movie_id in distinct_movie_ids:
    write_csv_file([get_detail_movie_by_movie_id(movie_id[0])], movie_detail_path, 'a')

1
2